<div id="sidebar">
	<h2>FT Labs Audio Management</h2>
	<hr/>

	<form id="search">
		<input type="text" placeholder="Search"/>
	</form>

	<ul id="actions">
		<li data-selected="true" data-action="reset"><a>All Assets</a></li>
		<li data-action="disabled"><a>Disabled Items</a></li>
		<li data-action="tagged"><a>Tagged Items</a></li>
		<li data-action="untagged"><a>Untagged Items</a></li>
	</ul>

	<hr/>

	<h3 style="font-weight: 400;">About</h3>

	<p>This dashboard was created by FT Labs to enable simple management of audio version of articles across the FT.</p>
	<p>From here, all FT articles with an audio version can be found, disabled and deleted.</p>
	<p>If you have any questions about it’s operation, you can contact ftlabs@ft.com</p>

</div>
	
<div id="main">

	{{#if rogueAssets}}

		{{#each rogueAssets}}

			<div class="rogueasset" data-collapsed="false" data-uuid="{{this.id}}">
				Article <a href="https://ft.com/content/{{this.id}}" target="_blank">{{this.id}}</a> has been tagged as an 'audio article' but has no metadata or audio files to support it. <br />If possible, please check that this article is supposed to be tagged with 'audio article'.
			</div>

		{{/each}}

	{{/if}}

	<table>
		<thead>
			<tr>
				<th>UUID</th>
				<th>Headline</th>
				<th>Published</th>
				<th>Provider</th>
				<th>Audio File</th>
				<th>Enabled?</th>
				<th>Tagged?</th>
				<th>Delete</th>
			</tr>
		</thead>

		<tbody>

			<!--<tr>
				<td><a href="https://www.ft.com/content/cce58e8e-158c-11e7-80f4-13e067d5072c" target="_blank">cce58e8e-158c-11e7-80f4-13e067d5072c</a></td>
				<td>EU draws up tough stance on Brexit transition deal</td>
				<td><a target="_blank" href="https://www.ft.com/content/cce58e8e-158c-11e7-80f4-13e067d5072c"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1%3Aoutside-page?source=ftlabs-audio-management&width=50&height=50&tint=%2326747a" /></a></td>
				<td><input type="checkbox" checked="checked"></td>
				<td><img src="https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1%3Atick?source=ftlabs-audio-management&width=50&height=50&tint=%23333333" alt="ticked" /></td>
				<td><img src="/images/bin.png" class="delete" alt="delete"></td>
			</tr>-->

			{{#if audioAssets}}
			
				{{#each audioAssets}}

					<tr data-uuid="{{this.uuid}}" data-tagged="{{this.tagged}}">
						<td><a href="https://www.ft.com/content/{{this.uuid}}" target="_blank">{{this.uuid}}</a></td>
						<td class="headline">{{this.title}}</td>
						<td>{{this.pubdate}}</td>
						<td><strong>{{this.provider}}</strong></td>
						<td><a target="_blank" href="{{this.publicURL}}"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1%3Aoutside-page?source=ftlabs-audio-management&width=50&height=50&tint=%2326747a" /></a></td>
						<td><input type="checkbox" data-uuid="{{this.uuid}}" {{#if this.enabled}}checked="checked"{{/if}}></td>
						<td>{{#if this.tagged}}<img src="https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1%3Atick?source=ftlabs-audio-management&width=50&height=50&tint=%23333333" alt="ticked" />{{else}}<img src="https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1%3Across?source=ftlabs-audio-management&width=50&height=50&tint=%23333333" alt="crossed" />{{/if}}</td>
						<td><img src="/images/bin.png" data-uuid="{{this.uuid}}" class="delete" alt="delete"></td>
					</tr>

				{{/each}}

			{{else}}
				<tr>
					<td>No articles are available for 3rd party consumption...</td><td></td>
				</tr>
			{{/if}}

		</tbody>
	</table>

</div>

<div id="deleteConfirm" data-uuid="" data-visible="false">

	<div class="dialog">
		<h2>Delete Item</h2>
		
		<p>You are about to delete <strong>all audio files and related metadata</strong> for item:</p>
		<h3 class="uuidToDelete"></h3>
		<p>from across the FT's audio systems.</p>

		<p>It will not be available again until it has been reabsorbed from its source, a process that <strong>is not guaranteed</strong> to succeed or occur.</p>

		<p><strong>Are you sure you want to do this?</strong></p>

		<div class="dialogButtons">
			<button class="cancel">Cancel</button>
			<button class="confirm">Delete Item</button>
		</div>

		<div class="progressOverlay" data-visible="false">
			<div class="o-loading o-loading--dark o-loading--small"></div>
		</div>

	</div>

</div>

<script>

	(function(){
		var sidebar = document.querySelector('#sidebar');
		var table = document.querySelector('#main table');
		var deleteDialog = document.querySelector('#deleteConfirm');
		var deleteSpinner = deleteDialog.querySelector('.progressOverlay');

		var searchInput = sidebar.querySelector('form#search input');

		var filterTimeout = "";

		var actions = {
			reset : showAll,
			disabled : showDisabled,
			tagged : showTagged,
			untagged : showUntagged
		};

		function deleteItem(uuid){
			return fetch('/actions/delete/' + uuid, {credentials: 'same-origin'})
				.then(function(res){
					if(res.ok){
						return res.json();
					} else {
						throw res;
					}
				})
			;
		}

		function showDeleteDialog(uuid){

			deleteDialog.dataset.visible = 'true';
			deleteDialog.dataset.uuid = uuid;
			deleteDialog.querySelector('.uuidToDelete').textContent = uuid;

		}

		function hideDeleteDialog(){
			deleteDialog.dataset.visible = 'false';
			deleteDialog.dataset.uuid = '';
			deleteSpinner.dataset.visible = 'false';
		}

		function showAll(){
			table.querySelectorAll('tbody tr').forEach(function(tr){
				tr.dataset.visible = 'true';
			});
		}

		function showDisabled(){
			table.querySelectorAll('tbody tr').forEach(function(tr){

				if(tr.querySelector('input[type=checkbox]').checked === true){
					tr.dataset.visible = 'false';				
				} else {
					tr.dataset.visible = 'true';
				}

			});
		}

		function showTagged(){
			table.querySelectorAll('tbody tr').forEach(function(tr){

				if(tr.dataset.tagged === 'false'){
					tr.dataset.visible = 'false';				
				} else if (tr.dataset.tagged === 'true'){
					tr.dataset.visible = 'true';
				}

			});
		}

		function showUntagged(){
			table.querySelectorAll('tbody tr').forEach(function(tr){

				if(tr.dataset.tagged === 'true'){
					tr.dataset.visible = 'false';				
				} else if (tr.dataset.tagged === 'false'){
					tr.dataset.visible = 'true';
				}

			});
		}

		function filterRows(filterValue){

			filterValue = filterValue.toLowerCase();

			table.querySelectorAll('tbody tr').forEach(function(tr){

				if(tr.innerHTML.toLowerCase().indexOf(filterValue) < 0){
					tr.dataset.visible = 'false';
				} else {
					tr.dataset.visible = 'true';
				}

			});

		}

		searchInput.addEventListener('keyup', function(){

			clearInterval(filterTimeout);
			filterTimeout = setTimeout(function(){
				
				sidebar.querySelectorAll('ul li').forEach(function(li){
					li.dataset.selected = false;
				});

				filterRows(this.value);
			
			}.bind(this), 200);

		}, false);

		sidebar.querySelectorAll('ul li').forEach(function(li){
			li.addEventListener('click', function(){

				sidebar.querySelectorAll('ul li').forEach(function(li){
					li.dataset.selected = false;
				});

				this.dataset.selected = true;

				actions[this.dataset.action]();

			}, false);
		});

		deleteDialog.querySelector('.cancel').addEventListener('click', function(){
			hideDeleteDialog();
		}, false);

		deleteDialog.querySelector('.confirm').addEventListener('click', function(){
			deleteSpinner.dataset.visible = 'true';
			deleteItem(deleteDialog.dataset.uuid)
				.then(function(response){
					console.log(response);
					var row = table.querySelector('tr[data-uuid="' + deleteDialog.dataset.uuid + '"]');
					row.parentNode.removeChild(row);
					
					hideDeleteDialog();
				})
				.catch(function(res){
					console.log('An error occurred delete an item: ' + deleteDialog.dataset.uuid, res);
					hideDeleteDialog();
				})
			;
		}, false);

		Array.from(table.querySelectorAll('input[type="checkbox"]')).forEach(function(checkbox){

			checkbox.addEventListener('click', function(){

				var enableOrDisable = this.checked === false ? 'disable' : 'enable';

				console.log('/actions/' + enableOrDisable + '/' + this.dataset.uuid);

				fetch('/actions/' + enableOrDisable + '/' + this.dataset.uuid, {credentials: 'same-origin'})
					.then(function(res){
						if(res.ok){
							return res.json();
						} else {
							throw res;
						}
					})
					.then(function(response){
						console.log(response);
					})
					.catch(function(err){
						console.log('Err', err);
					})
				;
				
			}, false);

		});
		
		Array.from(table.querySelectorAll('.delete')).forEach(function(deleteBtn){

			deleteBtn.addEventListener('click', function(){

				console.log(this);
				showDeleteDialog(this.dataset.uuid);
					
			}, false);

		});

		Array.from( document.querySelectorAll('.rogueasset') ).forEach(function(asset){
			asset.addEventListener('click', function(){
				this.dataset.collapsed = 'true';
			}, false);
		})

	}());

</script>